/* CSS reset */
*{
    margin: 0;
    padding: 0;

}
/* CSS variable */
:root{
    --navbar-height:60px:
}
/* navbar ko style */
.nav{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
/* LOgo and image for nav bar */
#navbar{
    display: flex;
    position: relative;
    
}
#navbar::before{
    content:" " ;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 3.4;
    /* margin-top: ; */
}
/* navigation bar logo and image */

#logo{
    margin: 10px 34px;
}
#logo img{
    height: 40px;
    margin: 3px 6px;
}
/* navigation bar list styling */

#navbar ul{
    display: flex;
    align-items: center; 
} 
#navbar ul li {
    list-style: none; /*bindu hatxo*/
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    /* cause inline by default and padding need to give */
    padding: 3px 22px;
    color: beige;
    /* background-color: rgb(170, 67, 67); */
    border-radius: 20px;
    text-decoration: none; /* underline hatxo*/
}
#navbar ul li a:hover{
    display: block;
    /* cause inline by default and padding need to give */
    padding: 3px 22px;
    color: rgb(15, 15, 12);
    background-color: rgb(236, 214, 214);
}
 /* home section */
 #home{
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     height: 700px;
     justify-content: center;
     align-items: center;
 }
 /* to put background using ::before pseudo selector */
 #home::before{
    content:" " ;
    /* background-color: black; */
    position: absolute;
    background: url(bg1.jpg) no-repeat center center/cover;
    height: 100%;
    top:0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: azure;
    text-align: center;
    font-size: 4.3rem;
    font-family:'Baloo Bhai 2', cursive;
}
/* Services section */
#services{
    margin: 32px;
    display: flex;
    /* cause service ke andar 3 boxes so flex to bonana parega  */

}
#services .box{
    border: 2px solid rgb(214, 39, 48);
    /* width: 100%; */
    padding: 34px; 
    margin:  0;
    border-radius: 20px;
    background-color: antiquewhite;
}
#services .box img{
    height: 160px;
    /* width: 100%; */
    margin: auto;
    /* margin auto works when display is block */
    display: block;
}


/* Clients Section */

#client-section{ 
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
   }
   
   #clients{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .client-item{
       padding: 34px;
   }
   
   #clients img{
       height: 124px;
   }

   /* Contact Section */
   
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

   
/* utility classes is good way*/

.hprimary{
    font-size: 3.8rem;
    padding: 12px;

}
.hsecondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid wheat;
    background-color: rgb(161, 67, 67);
    color: bisque;
    font-size: 2.1rem;
    border-radius:8px;
    margin: 17px;
    cursor: pointer;

}
.center{
    text-align: center;

}